/*
Color schemes:

Header/Footer
> background: #0077B6
> text color: #fff; (white)

Main 1:
> color-dark: #03045E
> color-dark-med: #0077B6
> color-med: #00B4D8
> color-light-med:#90E0EF
> color-light: #CAF0F8


*/

@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

html {
  font-size: 62.5%;

}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}



header, footer {
  background-color: #00B4D8;
  color: #fff;
  padding: 2rem;
  box-shadow: 0 .3rem rgba(0, 0, 0, 0.082);
}

.App {
  background-image: linear-gradient(to bottom left, #00B4D8,#CAF0F8);
}

.main {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

.sidenav {
  width: 7%;
  min-width: 9rem;
  background-image: linear-gradient(to bottom left, rgb(238, 236, 236),#CAF0F8);
  padding-right: 2rem;
  padding-top: 1.5rem;
}

.nav-list {
  list-style-type: none;
}

.sidenav .btn {
  border-radius: 50%;
  margin: 10px;
  margin-top: 20px;
  width: 6.5rem;
  height: 6rem;
  cursor: pointer;
  background-color:#00B4D8;
  border: none;
  box-shadow: 0 0.2rem rgba(0, 0, 0, 0.082);
  color: #fff;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

/* .v-divider {
  border-right: 0.5rem solid rgb(156, 136, 136);
  height: 100%;
} */

.home-container {
  padding: 2rem;
  background-color: antiquewhite;
  min-width: 100%;
}

.home-container-title {
  margin-top: 4rem;
  margin-bottom: 0;
  margin-left: 10rem;
  font-size: 3rem;
  display: block;
}

.home-container_content-wrapper {
  display: flex;
  justify-content: center;
}

.home-container_left {
  margin-top: 2rem;
  width: 40%;
}

.home-container_right {
  width: 50%;
}

.home-img {
  width: 55rem;
  margin-right: 5rem;
}

.book-shelf-btn {
  display: block;
  padding: 1rem;
  min-width: 70%;
  min-height: 12rem;
  margin: 1.5rem;
  background-color: #CAF0F8;
  border-radius: 1.5rem;
  border: none;
  box-shadow: 0 2px rgba(0, 0, 0, 0.082);
  outline: none;
  font-size: 2.5rem;
}

.book-shelf-btn:hover {
  transform: translateY(-2px);
  background-color: #90E0EF;
}

.shelf-container {
  padding: 2rem;
  background-color: antiquewhite;
  min-width: 100%;
}

.shelf-container-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  display: block;
  font-size: 3rem;
}

.booklist-container {
  margin-top: 3rem;
  margin-left: 2rem;
  padding: 1rem;
  background-color: #CAF0F8;
  width: 80%;
  border-radius: 0.3rem;

}

/*  book card  */
.book-card {
  display: inline-block;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 3rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 30rem;
  background-color: #fff;

}

.booklist-container h1 {
  margin-top: 2rem;
  margin-left: 2.5rem;
  font-size: 3rem;
}

.book-card h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.card-content {
  display: flex;
  justify-content: flex-start;
}

.card-content__img-container {
  margin-right: 2rem;
}

.book-card__img {
  height: 20rem;
  width: 15rem;
}

.card-content__card-info {
  font-size: 1.8rem;
}

.singleview-container {
  width: 90%;
  margin: 3rem;
}

.singleview-container .book-card {
  width: 50%;
}

.note-slider {
  height: 30rem;
  width: 100%;
  margin-top: 3rem;
  margin-left: 1rem;
  border-radius: 1rem;
  background-color: #CAF0F8;
  box-shadow: 2px 2px 3px #999;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.slider-note {
  margin: 2rem;
  padding: 2rem;
  background-color: #fff;
  height: 25rem;
  width: 30rem;
  border-radius: 1rem;
  display: inline-block;
}

.slider-note_title {
  font-size: 2rem;
}

.slider-note_content {
  margin-top: 1rem;
  font-size: 1.5rem;
  width: 25rem;
  height: 74%;
  white-space: normal;
  overflow: hidden;
}

.quick-note-container {
  display: inline-block;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 3rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #fff;
}

.quick-title-input {
  
}