/*
Color schemes:

Header/Footer
> background: #0077B6
> text color: #fff; (white)

Main 1:
> color-dark: #03045E
> color-dark-med: #0077B6
> color-med: #00B4D8
> color-light-med:#90E0EF
> color-light: #CAF0F8


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

root {
  line-height: 10px;
}

header, footer {
  background-color: #00B4D8;
  color: #fff;
  padding: 20px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.082);
}

.App {
  background-image: linear-gradient(to bottom left, #00B4D8,#CAF0F8);
}

.main {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

.sidenav {
  width: 7%;
  min-width: 5rem;
  background-image: linear-gradient(to bottom left, rgb(238, 236, 236),#CAF0F8);
  padding-right: 1rem;
  padding-top: 1.5rem;
}

.nav-list {
  list-style-type: none;
}

.sidenav .btn {
  border-radius: 50%;
  margin: 10px;
  margin-top: 20px;
  width: 4rem;
  height: 3rem;
  cursor: pointer;
  background-color:#00B4D8;
  border: none;
  box-shadow: 0 0.2rem rgba(0, 0, 0, 0.082);
}

.home-container {
  padding: 2rem;
  background-color: antiquewhite;
}

.home-container-title {
  margin-bottom: 2rem;
  display: block;
}

.book-shelf-btn {
  display: block;
  padding: 1rem;
  min-width: 60%;
  

}


